* {
  box-sizing: border-box;
}

body,
html {
  color: #eceff1;
  font-family: sans-serif;
  letter-spacing: 0.1em;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(
    135deg,
    rgb(153, 54, 235, 0.5) 0%,
    rgb(65, 212, 231, 0.8) 100%
  );
  background-size: 200%;
  background-position: center;
  min-height: 1vh;
  width: 100%;
}

@keyframes wiggle {
  0% {
    box-shadow: 10px 15px 10px 0px rgba(22, 22, 22, 0.4);
    transform: rotate3d(1, 4, 1, 25deg);
  }

  50% {
    box-shadow: 0 2px 5px 0px rgba(22, 22, 22, 0.6);
  }

  100% {
    box-shadow: -10px 15px 10px 0px rgba(22, 22, 22, 0.4);
    transform: rotate3d(1, 4, 1, -15deg);
  }
}

@keyframes shiftShadow {
  0% {
    box-shadow: 10px 10px 7px 0px rgba(22, 22, 22, 0.4);
  }

  50% {
    box-shadow: 0 2px 5px 0px rgba(22, 22, 22, 0.6);
  }

  100% {
    box-shadow: -10px 10px 7px 0px rgba(22, 22, 22, 0.4);
  }
}

.clapperboard {
  animation: wiggle alternate 4s ease-in-out infinite;
  background: linear-gradient(-32deg, #202020, #444);
  border-radius: 0 0 1.2em 1.2em;
  font-family: "Love Ya Like A Sister", helvetica, sans-serif;
  left: 8%;
  margin: 0 auto;
  max-width: 300px;
  padding: 0 5% 15%;
  position: absolute;
  top: 30%;
  transform: rotate3d(1, 4, 1, 20deg0);
  width: 84%;
  height: 15em;
}

.clapperboard::before {
  animation: shiftShadow alternate 4s ease-in-out infinite;
  background: repeating-linear-gradient(
    45deg,
    #efefef,
    #efefef 30px,
    #222 30px,
    #444 60px
  );
  border-radius: 0.4em 0.4em 0 0;
  content: "";
  display: block;
  height: 30px;
  left: 0;
  position: absolute;
  top: -30px;
  transform: rotate(-12deg);
  transform-origin: bottom left;
  width: 100%;
}

.clapperboard::after {
  background: repeating-linear-gradient(
    -45deg,
    #222,
    #444 30px,
    #efefef 30px,
    #efefef 60px
  );
  content: "";
  display: block;
  height: 30px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.app-title {
  border-bottom: 2px solid #fefefe;
  font-size: 1em;
  margin-top: 50px;
}

.menu {
  position: absolute;
  bottom: 2em;
}

.menu__button {
}

.current {
  padding-top: 10%;
}

.current__subject {
  border-bottom: 2px solid #fefefe;
  font-weight: normal;
  line-height: 1.5;
}
